<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Категории</title>
</head>
<body>
<h1>Категории:</h1>
<div th:if="${ not#lists.isEmpty(categories)}">
    <table border="2">
        <tr>
            <th>Имя категории</th>
            <th>Устройства категории</th>
        </tr>
        <tr th:each="category : ${categories}">
            <td th:text="${category.categoryName}"></td>
            <td>
                <p th:each="i : ${category.categoryItems}" th:text="${i.name}"></p>
            </td>
        </tr>
        </table>
</div>
</body>
</html>