<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Редактировать устройство</title>
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet">
</head>
<body>
<form class = "container col-4 mb-3" action="#" th:action="@{/editDevice}" th:object="${category}" method="post" enctype="multipart/form-data">
    <p>Категория: <div th:text="${category.categoryName}"></div></p>
    <input type="hidden" th:field="${category.itemId}">
    <p>Название устройства: <input class="form-control" type="text" th:field="${category.itemName}" /></p>
    <p>Описание устройства: <input class="form-control" type="text" th:field="${category.description}" /></p>
    <p>Цена устройства: <input input class="form-control" type="number" th:field="${category.price}" /></p>
    <p><input type="file" name="image" accept="image/*"  th:field="${category.image}"/></p>
    <p><input class = "btn btn-success" type="submit" value="Обновить" /> <a class = "btn btn-primary" th:href="@{/categories}">Вернуться назад</a></p>
</form>
</body>
</html>